@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    :root{
        --color-primary: 31 160 255;
        --color-secondary:18 218 251;
        --color-tritary:167 253 204;
        --color-theme:255 255 255;
    }
    @media (prefers-color-scheme: dark) {
        :root{
            --color-theme:0 0 0;
        }
      }
}
@layer utilities{
    .clip_1{
        clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
    }
    .clip_2{
        clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
    }
}

::-webkit-scrollbar{
    display: none;
}

html{
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

