@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    :root{
        --color-primary: 31 160 255;
        --color-secondary:18 218 251;
        --color-tritary:167 253 204;
        --color-theme:255 255 255;
    }
    @media (prefers-color-scheme: dark) {
        :root{
            --color-theme:0 0 0;
        }
      }
}
@layer utilities{
    .rotateY{
        transform: rotateY(45deg);
    }
}
  .footer{
    @apply bg-gradient-to-br from-slate-700 via-[#545864] to-black;
  }
  .page_gradient{
    @apply bg-gradient-to-br from-[#fffff9] via-[#fffff4] to-[#fffff0];
  }
  .menu{
    clip-path: polygon(0 0, 49% 87%, 99% 0);
  /* transform: scale(0.75); */
  }
  .diss{
    @apply absolute h-auto p-0 m-0 bg-[#fff] opacity-0 transition-all duration-100 ease-linear z-10 left-[155px] border-l-4 border-solid border-l-black
  }

::-webkit-scrollbar{
    display: none;
}

html{
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
}

